$main-text-color: #000000;
$secondary-text-color: #ffffff;
$gradient-color: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
$dark-bcg: #06071b;
$light-bcg: #ffffff;
.contact{
background: $dark-bcg ;
}

.contact-title{
  text-align: center;
font-weight: 700;

color: $secondary-text-color;

@media screen and (max-width: 767px) {
font-size: 20px;
line-height: 1.2;
  margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
 font-size: 24px;
  line-height: 1.2;
  margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
 
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }


}

.contact-form{

@media screen and (max-width: 767px) {
display: flex;
flex-direction: column;
gap: 20px;

  }
  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
 
  }

  @media screen and (min-width: 1280px) {

  }

}

.container-input{
  @media screen and (min-width: 768px) and (max-width: 1279px) {
display: flex;
gap: 32px;
 
 
  }


}

.contact-input{
 padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 8px;
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    width: 100%;
    height: 40px;

  }
  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {

 
 
  }

  @media screen and (min-width: 1280px) {

  }


}
.contact-textarea{
  padding-top: 12px;
  padding-left: 8px;
  border-radius: 5px;


  @media screen and (max-width: 767px) {
    width: 100%;
    height: 220px;

  }
  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
 
  }

  @media screen and (min-width: 1280px) {

  }


}

.submit-button{
display: block;
font-weight: 700;
font-size: 16px;
line-height: 1.2;
width: 181px;
height: 42px;
margin-left: auto;
margin-right: auto;
background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
border-radius: 5px;
cursor: pointer;
border: transparent;


color: $secondary-text-color;

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;

  }
  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {

  }


}
.contact-subtitle{
  margin-bottom: 20px;
font-weight: 500;
color: #FFFFFF;
  @media screen and (max-width: 767px) {
text-align: center;
font-size: 20px;
line-height: 1.2;



  }
  @media screen and (min-width: 768px) {
  font-size: 24px;
  line-height: 1.2;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    text-align: center;

  }

  @media screen and (min-width: 1280px) {

  }
}
.contact-text{

font-weight: 500;

color: #FFFFFF;

 @media screen and (max-width: 767px) {
  font-size: 14px;
line-height: 1.2;
text-align: center;
margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
  font-size: 16px;
line-height: 1.2;
text-align: center;
margin-bottom: 40px;

  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 38px;  
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.contact-list{

display: flex;
gap: 14px;
justify-content: center;
margin-bottom: 40px;
  
  @media screen and (min-width: 768px) {
  
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
  

  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }

}
.contact-item{
  
width: 40px;
height: 40px;
// background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
// border-radius: 50%;

}

.contact-link-facebook{
display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items:center ;

background-image: url(../svg/facebook-default.svg);

}
.contact-link-facebook:hover{
background-image: url(../svg/facebook-hover.svg);

}

.contact-link-twitter{
display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items:center ;

background-image: url(../svg/twitter-default.svg);

}
.contact-link-twitter:hover{
background-image: url(../svg/twitter-hover.svg);

}

.contact-link-linkedin{
display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items:center ;

background-image: url(../svg/facebook-default.svg);

}
.contact-link-linkedin:hover{
background-image: url(../svg/facebook-hover.svg);

}


// .contact-link:hover .contact-icon{

// fill: #ffffff;
// }

// .contact-icon{
// width: 20px;
// fill: transparent;
// }



.address-list{
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 767px) {
  



  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
  
  }

  @media screen and (min-width: 1280px) {

  }


}


.address-link-number{
  display: block;
  font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;

color: #FFFFFF;

}

.address-link-mail{
  display: block;
font-weight: 500;
font-size: 14px;
line-height: 1.2;


text-align: center;

color: #FFFFFF;

}

.decoration-down{
border: 1px solid #FFFFFF;
width: 100%;

}